<form action="/apartments" method="get">
  <input id = "this" type="text" name="location" placeholder="Enter Borough">
</form>




<button onclick="myFunction()">Click me</button>




<script>
function myFunction() {
    document.getElementById("this").value = "<%=fetch_location%>";
  
}
</script>
